.paginationBttns{
    width : 80%;
    height : 40px;
    list-style : none;
    text-decoration: none;
    display : flex;
    justify-content: center;
    margin-top: 20px;
}

.paginationBttns a{
    padding : 10px;
    margin : 8px;
    border-radius: 5px;
    border : 1px solid #2b2eff;
    color : #2b2eff;
    cursor : pointer;
    text-decoration: none;
} 

.paginationBttns a:hover{
    color : white;
    background-color: #dddddd;
}

.paginationActive a{
    color : white;
    background-color: #dddddd;
}