.s{
    width :17vw;
    height : 100vh;
    background-color: #2F4050;
    position: fixed;

}

body{
    margin:0;
    padding: 0;
}

.list{
    height : auto;
    width : 100%;
    padding : 0;
}

.list .row{
    width : 100%;
    height : 50px;
    list-style-type: none;
    margin: 0;
    display : flex;
    flex-direction: row;
    color : white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list .row:hover{
    cursor: pointer;
    background-color: #293846;
}

.list #active{
    background-color: #293846;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex : 70%
}


